body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* position: fixed; */
}
section{
    height: 570px;
    margin-bottom: 5%;
    padding-bottom: 1%;
    /* page-break-inside: 150px; */
    /* width: 100%; */
}
.orange-highlight{
    color: salmon;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.line-space{
    line-height:15px;
}
.padding-bottom{
    padding-bottom: 2%;
}
.half-width img{
    margin-top: 20%;
    padding-top: 2%;
    padding-left:10%;
    width: 100%;
    /* padding-right: 600px; */
}
.tierce-width{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.tierce-width img{
    width: 100%;
}
.tierce-width img:hover{
    /* width: 115%;
    margin: -25px 5px 5px -25px; */
    transform: scale(1.15);
}

.first-div{
    margin-top: 3%;
    padding-top: 10%;
    padding-left:10%;
    padding-right: -200px;  
}

.second-div{
    margin-top: 0%;
    padding-top: 10%;
    padding-left:10%;
    padding-right: -200px;  
}
.second-div h1{
    font-size: 30px;
    font-weight: 700;
}
.top-banner{
    margin-top: 10px;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top-banner h2{
    color: #ec4c7a;
    font-size: 50px;
    font-weight: 900;
    line-height:15px;
}
.top-banner p{
    color: #707070;
    /* font-size: 50px;
    font-weight: 900;*/
    padding-bottom:25px; 
}
.top-banner h3{
    font-size: 30px;
    font-weight: 600;
    line-height:10px;
}
.About-us{
    margin-top: 10px;
    background-image: url("/images/background_1.jpg ");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h4 {
    color: rgb(56, 52, 52);
}
.recipe_items h1, h4{
    text-align: center;
}
.recipe-card{
    width:33%;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
}

.recipe_items div{
    box-shadow: 5px 7px 40px rgb(71, 68, 68);
    height: 62%;
    width: 25%;
}
#design-card{
    margin: 60px 30px 0px 60px;
    padding: 10px 5px 10px 10px ; 
    border: 7px rgb(177, 173, 173);
    border-radius: 1rem;
}
#recipe-pic{
    height: 200px;
    width: 333px;
    border-radius: 1rem;
}

#how-its-made {
    padding: 36px 72px;
}
  
#how-its-made iframe {
    width: 100%;
    height: 500px;
    margin: auto !important;
}
  
.client-banner{
    background-image: url("/images/background_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;
}
/* .client-banner img{
    width: 10%;
} */
.client-name{
    color:black;
    font-size: 20px;
}
.padding-bottom{
    padding-bottom: 2%;
}
.clinet-words {
    /* padding: 50px 0; */
    font-weight: 500;
    font-size: 16px;
    margin-top: 80px;
}
.client-banner h1{
    font-size: 50px;
    margin-top: 400px;
    margin-bottom: 100px;
}
.link-btn3 {
    background-image: linear-gradient(45deg, #ceb7c1, #cedf34);
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 630px;
    height: 90px;
    margin-left: 400px;
    margin-top: 90px;
}
.link-btn3 p,h2 {
    color: rgb(90, 16, 16);
    margin-bottom: 0;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4f8f, #ed4b6f);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
span{
    color: #9c1818;
    font-size: 30px;
    font-weight: 900;
    line-height:15px;
}

.footer {
    position:relative;
    margin-bottom: 0%;
    padding: 20px 10px 40px 10px;
    width: 100%;
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
 }