body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 570px;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

header{
    position:relative;
    margin-bottom: 0%;
    padding: 1px 10px 30px 10px;
    width: 100%;
    background-color: rgb(7, 7, 7);
    color: white;
   

}

.intro-logo{
    height: 0;
    margin: .5%;
    padding-top: 1px;
    padding-bottom: 23px;
    margin-left: 10%;
    transition: all .5s;
}
.intro-logo:hover{
    transform: scale(1.1);
}

#logo-img{
    height: 50px;

}

.half-width{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding-left: 2%;
}

.line-space{
    line-height:15px;
}

.padding-bottom{
    padding-bottom: 2%;
}

.half-width img{
    margin-top: 12%;
    padding-top: 2%;
    padding-left:0%;
    width: 100%;
}

.first-div{
    margin-top: 2%;
    padding-top: 10%;
    padding-left:10%;
    padding-right: -200px;  
}

.second-div{
    margin-top: 0%;
    padding-top: 7%;
    padding-left:10%;
    padding-right: -200px;  
}

.second-div h1{
    font-size: 30px;
    font-weight: 700;
}
.intro-part{
    margin-top: 10px;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.intro-part h2{
    font-size: 50px;
    font-weight: 900;
    line-height:15px;
}
.intro-part p{
    color: #707070;
    padding-bottom:25px; 
}

.intro-part h3{
    font-size: 30px;
    font-weight: 600;
    line-height:10px;
}

h4{
    color: rgb(26, 22, 22);
}

.about-me{
    margin-top: 10px;
    background-image: url("/images/background_1.jpg ");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about-me p, h1{
    color: #474141;
    font-family: 'Poppins', sans-serif;
}

.recipe-items h1, h4{
    text-align: center;
}

.recipe-card{
    width:30%;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    transition: all 1s;
}
.recipe-card:hover{
    transform: scale(1.1);
}

.recipe-items div{
    box-shadow: 5px 7px 40px rgb(71, 68, 68);
    height: 62%;
    width: 25%;
}

#design-card{
    margin: 60px 30px 0px 60px;
    padding: 10px 5px 10px 10px ; 
    border: 7px rgb(177, 173, 173);
    border-radius: 1rem;
}

#recipe-pic{
    height: 200px;
    width: 333px;
    border-radius: 1rem;
}

#how-its-made {
    padding: 36px 72px;
}
  
#how-its-made iframe {
    width: 100%;
    height: 500px;
    margin: auto !important;
}
  
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #b62121, #998f91);
    padding: 10px 30px;
    border-radius: 2rem;
    color: white;
    font-weight: 500;
}

.footer {
    position:relative;
    margin-bottom: 0%;
    padding: 20px 10px 40px 10px;
    width: 100%;
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
}

 span{
    color: #9c1818;
    font-size: 30px;
    font-weight: 900;
    line-height:15px;
}

 .footer p{
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
 }
 